ADMIN_USER=admin
ADMIN_PASS=password
MASTER_KEY=Jp-Apz!f&JA*Ckf!5zS5?s9F@gt2j3TNt9Zs+XCbQyzTZ9F#Z8-*GRUQ++CQ6eHd+b4*P%4dGB@q2UvP5fHcYP4Kbx8Z*kz#*RCKRy5XUZXRdjU2Jt$?y4Kr&NTydv%uRE$?g6KeQhvN+ut9Q3YAwTBKzRVbT?8utWWtYrPBYFXrjqU4+vhG5uh&Umvf9Z#HzRmKe7m9WNVyWUSwxePWk%XdtstXb%rzUDh6eHWEw4JVPFWtsH%6c?&htUJScvNu
# REPLACE THESE DURING DEPLOYMENT DUMBASS IF YOU DONT I HOPE YOUR FOOD IS COLD AND YOU GET HACKED